<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.com.ralarm" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >

        </activity>

        <activity
            android:name="in.com.ralarm.AlarmActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="in.com.ralarm.preferences.AlarmPreferencesActivity"
            android:label="@string/app_name"
            android:parentActivityName="in.com.ralarm.AlarmActivity" >
            <!-- Parent activity meta-data to support API level 7+ -->

        </activity>

        <service
            android:process="com.alarm.serviceProcess"
            android:name="in.com.ralarm.service.AlarmService"

            android:label="@string/app_name"
            >
        </service>
        <receiver android:name="in.com.ralarm.service.AlarmServiceBroadcastReciever" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name = "in.com.ralarm.alert.AlarmAlertActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <receiver android:name="in.com.ralarm.alert.AlarmAlertBroadcastReciever" >
        </receiver>
        <receiver android:name = "in.com.ralarm.telephony.PhoneStateChangedBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>